.priceContainer{
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
    background-color: #021c3e;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    p{
        margin: 0;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
}